<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>FilterA</filter-name>
		<display-name>FilterA</display-name>
		<description></description>
		<filter-class>Filters.FilterA</filter-class>
	</filter>
	<filter>
		<filter-name>Filter2</filter-name>
		<display-name>Filter2</display-name>
		<description></description>
		<filter-class>Filters.Filter2</filter-class>
	</filter>
	<filter>
		<filter-name>Redirect</filter-name>
		<display-name>Redirect</display-name>
		<description></description>
		<filter-class>Filters.Redirect</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterA</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Filter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>listeners.Excercise4</listener-class>
	</listener>

	<servlet>
		<servlet-name>Ejercicio5</servlet-name>
		<display-name>Ejercicio5</display-name>
		<description></description>
		<servlet-class>servletsPrivados.Ejercicio5</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejercicio3</servlet-name>
		<display-name>Ejercicio3</display-name>
		<description></description>
		<servlet-class>servlets.Ejercicio3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejercicio2</servlet-name>
		<display-name>Ejercicio2</display-name>
		<description></description>
		<servlet-class>servlets.Ejercicio2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Ejercicio1</servlet-name>
		<display-name>Ejercicio1</display-name>
		<description></description>
		<servlet-class>servlets.Ejercicio1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOn</servlet-name>
		<display-name>LogOn</display-name>
		<description></description>
		<servlet-class>servlets.LogOn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogIn</servlet-name>
		<display-name>LogIn</display-name>
		<description></description>
		<servlet-class>servlets.LogIn</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Ejercicio5</servlet-name>
		<url-pattern>/Ejercicio5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejercicio1</servlet-name>
		<url-pattern>/Ejercicio1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejercicio2</servlet-name>
		<url-pattern>/Ejercicio2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Ejercicio3</servlet-name>
		<url-pattern>/Ejercicio3</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LogOn</servlet-name>
		<url-pattern>/LogOn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogIn</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
</web-app>
